# Configurações de IDE/Editor
.idea/
.vscode/

# Local ignora diretorio .terraform 
terraform/.terraform/*

# Ignora .lock, criados por execucoes locais
.terraform.lock.hcl

# Logs e relatórios de erros
/logs/
*.log
error_log

# Arquivos temporários
/tmp/
*.tmp

# Arquivos de cache
/cache/
*.cache

# Configurações locais e credenciais sensíveis
.env
.env.local
.env.*.local